[project]
	description = Open source Python implementation of the KMIP 1.1 specification.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Peter Hamilton (PeterHamilton)
[access "refs/for/refs/*"]
	read = group user/Peter Hamilton (PeterHamilton)
	push = group user/Peter Hamilton (PeterHamilton)
	label-Code-Review = -2..+2 group user/Peter Hamilton (PeterHamilton)
	label-Verified = -1..+1 group user/Peter Hamilton (PeterHamilton)
	rebase = group user/Peter Hamilton (PeterHamilton)
	removeReviewer = group user/Peter Hamilton (PeterHamilton)
	submit = group user/Peter Hamilton (PeterHamilton)
[access "refs/heads/*"]
	read = group user/Peter Hamilton (PeterHamilton)
	create = group user/Peter Hamilton (PeterHamilton)
	push = +force group user/Peter Hamilton (PeterHamilton)
	pushMerge = group user/Peter Hamilton (PeterHamilton)
[access "refs/tags/*"]
	push = +force group user/Peter Hamilton (PeterHamilton)
	pushTag = group user/Peter Hamilton (PeterHamilton)
	pushSignedTag = group user/Peter Hamilton (PeterHamilton)
